
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* body da tela de início*/
body{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    flex-shrink: 0;
    font-family: 'Nunito', sans-serif;
    width: 1512px;
    height: 982px;
    flex-shrink: 0;
    width: 1512px;
    height: 269px;
    flex-shrink: 0;
    /*background: linear-gradient(200deg, #26BF19 0%, rgba(35, 177, 23, 0.79) 40.1%, rgba(23, 120, 15, 0.00) 100%);*/
    width: 1512px;
    height: 699px;
    
}
/*tela de sobre*/
.barratopo{
    position: absolute;
    top:23px;
    right: 0;
    left:3 px;
    font-size: 24px;
   
}
 li{
    display: inline-block;
    margin: 0 0 20px 25px;
    font-family: 'Nunito', sans-serif;
    color: #FFF;
}

h2 {
    margin-bottom: 20px;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    top:23px;
    text-align: center;
    font-size: 30px;
}


h3{
color: #FFF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 31.2px */
}
/*.editar{
    display: flex;
    width: 667px;
    height: 413px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 130%; /* 83.2px 
}*/


/*h1 da tela de início*/
h1{
    display: flex;
    width: 785px;
    height: 262px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: floralwhite;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 143px */
    text-transform: uppercase;

}

fieldset {
    border: none; /* Remove todas as bordas */
    border-top: 1px solid rgba(6, 255, 31, 0.60); /* Adiciona apenas a borda superior */
    padding: 100px;
    padding-left: 200px;
    margin-left: 200px;
    width: 100%;
    
  }
  
  p{
    font-family: 'Nunito', sans-serif;
    color: #FFF;
    font-size: 24px;
    text-align: center;
  }

  .lista{
    text-align: center;
    
  }

  
/*tela de início*/
.container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
 }

  /* calendário da tela de início*/
.calendario{
    float: right;
    width: 360px;
    margin-top: -550px;
    margin-right: 400px;

}
/*ícones tela de sobre*/
.foto{
width: 225px;
height: 191px;
position: absolute;
top: 300px;
left: 1500px;
}

.foto2{
    width: 225px;
    height: 191px;
    position: absolute;
    top: 700px;
    left: 400px;
    }

.foto3{
    width: 125px;
    height: 100px;
    position: absolute;
    top: 1200px;
    left: 500px;
    
}    
/* nav de cadastre-se*/
nav{
    width: 272.232px;
    height: 63.763px;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(6, 255, 31, 0.60);
    width: 205.687px;
    height: 44px;
    flex-shrink: 0;
    color: #b6a3a3;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
 }

 /*Triangulo de baixo da tela de inicio*/
 .svg{
    width: 272.066px;
    height: 136.408px;
    transform: rotate(-39.935deg);
    flex-shrink: 0;
    fill: rgba(6, 255, 31, 0.60);
 }

 #border-right {  
    transform: rotate(180deg);
}

/*cadastre-se*/
a{
    text-decoration: none;
    color: #FFF;
 }

 
/*cadastro*/
/*form {
display: flex;
width: 667px;
height: 413px;
flex-direction: row;
justify-content: center;
flex-shrink: 0;
color: #131212;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 31.2px 
}

/*#cadastro {
    background-image: url('img/campo.png');
    background-color: black;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

body{
    display: flex;
    margin: 0;
    
    }

    article{
    background-color: green;
    flex: 2;
    color: aliceblue;
    
    }

    aside{
    background-color: rgb(26, 24, 24);
    flex: 2;
    text-align: center;
    }

    form{
    flex: 3;
    width: 50px;
    }


 .container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
    position: absolute;
    top: 700px;
    left: 1600px;
 }

/* TELA DA AGENDA */

.sidebar {
    height: 100%;
    width: 250px;
    background-color: rgba(6, 255, 31, 0.60);
    color: #fff;
    padding-top: 20px;
    border-radius: 5px;
    
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    display: flex;
}

.sidebar a:hover {
    background-color: #080808;
}

.toggle-btn {
    margin: 20px;
    color: rgb(3, 3, 3);
    
}



/*form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300px;
    background-color: green;
    justify-content: space-between;        
    align-items: center;
    text-align: left;  
    background-color: green;
    flex-wrap: wrap;
    width: 50%;
    height: 300px;    
    margin: auto; }*/


/*form certo*/
/* form {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: white;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
} */

/*#cadastro {
    background-image: url('img/campo.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

/*input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}



/*div .centrar{
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    margin: #06FF1F solid 2px;
    width: 1512px; 
    height: 3px;
}

.pergunta{
color: #FFF;
width: 738px;
height: 206px;
flex-direction: column;
flex-shrink: 0;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 130%;
margin-left: 425px;
}
 



header {
    text-align: center;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.search-box {
    margin-left: 20px;
}

.search-box input {
    padding: 5px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
}*/



/*main {
    text-align: center;
    padding: 20px;
}

.esportes {
    display: grid;
    justify-content: center;    
    grid-template-columns: repeat(5, 0fr);
    gap: 25px;
}
font
.esporte {
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esporte img {
    width: 30px;
    height: 30px;
}

.esporte.selected {
    background-color: #06FF1F;
    border-color: #fff;
}

.confirmar {
    background-color: #06FF1F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}
