@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');


body {
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
  }
  
  header {
    background-color: green;
    text-align: center;
    padding: 10px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-content: center; 
  }

  .column1 {
    /* display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-content: center;    
      background-color: white;  */
      /*Cor de fundo branca*/
      /* margin-top:10 px; */
      /*Margen superior com 1 pixel*/
      /* float: left; */
      /*propriedade indicando que a Área flutuará a esquerda*/
      /* width: 24%;  */
      /*Ocupando 24% da largura total destinada para o corpo*/
      /* height: 500px;  */
      /*Altura de 500 pixels*/  
  } 

  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }

  .profile-image img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: white 10px solid;
    float: right;
    margin: auto;
  }
  
  form {
    background-color: transparent;
    flex: 3;
  }
  
  label,
  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
  }
  
  input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    max-width: 50%
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }


  